#container {
    margin-top: 3rem;
}

#form-div {
    width: 350px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    #container {
        margin-top: 1rem;
    }
    #form-div {
        width: 300px;
    }
}