:root {
  --light-periwinkle: #D1D4E7ff;
  --alice-blue: #DDE9F9ff;
  --queen-pink: #E3CDD9ff;
  --light-steel-blue: #A5BFE0ff;
  --liver: #694E4Aff;
  --seal-brown: #602F11ff;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* html, body {‍
  margin: 0;‍
  height: 100%;
‍}‍
#root {‍
  width: 100%;‍
  height: 100%;
‍} */

.list-group-item+.list-group-item {
  border-top-width: 0;
  border-style: none;
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 0;  
  padding-left:0;
  margin-top: var(--bs-gutter-y);
}

 .form-signin input {
   padding: 1rem;
 }